<div class="grid" [style.min-width.px]="30 + days.length * 180" [style.min-height.px]="gridHeight">
  <div class="grid-header">
    <div class="header-over-labels"></div>
    <div class="header-over-content" *ngFor="let weekday of days">
      {{ weekday | date:'EEE, LLL d' }}
    </div>
  </div>
  <div class="working-window-wrapper">
    <div
      class="working-window"
      [style.top.px]="workingHoursStartMinutes * pixelsPerMinute"
      [style.height.px]="(workingHoursEndMinutes - workingHoursStartMinutes) * pixelsPerMinute + 1"
      [style.left.%]="hideWeekend ? 0 : workingDaysStart * 100 / 7"
      [style.width.%]="hideWeekend ? 100 : (workingDaysEnd - workingDaysStart + 1) * 100 / 7"
    ></div>
  </div>
  <plaid-grid-background
    [pixelsPerMinute]="pixelsPerMinute"
    [numberOfWeekdays]="days.length || 0"
  ></plaid-grid-background>
  <plaid-current-time-marker
    [pixelsPerMinute]="pixelsPerMinute"
    [dateRange]="dateRange"
  ></plaid-current-time-marker>
  <div class="worklog-panels-area">
    <div
      class="worklog-panels-area-column"
      *ngFor="let logs of worklogsSplitByDays; index as dayIndex"
      [style.height.px]="pixelsPerMinute * 1440"
    >
      <plaid-worklog-panel
        *ngFor="let worklog of logs; trackBy: worklogPanelTrackByFn"
        [worklog]="worklog"
        [pixelsPerMinute]="pixelsPerMinute"
        [currentlyEdited]="worklog.id === editedWorklog?.id"
        (edit)="editedWorklog = worklog"
        (delete)="deleteWorklog(worklog)"
      ></plaid-worklog-panel>
      <plaid-worklog-panel
        *ngFor="let addHint of addHintsSplitByDays[dayIndex]; trackBy: worklogPanelTrackByFn"
        [worklog]="addHint"
        [pixelsPerMinute]="pixelsPerMinute"
        (edit)="editedWorklog = addHint"
      ></plaid-worklog-panel>
    </div>
  </div>
  <div class="grid-footer">
    <div class="footer-under-labels">
      &Sigma;
    </div>
    <div class="footer-under-content" *ngFor="let timeSum of timeSums">
      {{ timeSum }}
    </div>
  </div>
  <div class="loading-overlay" [class.visible]="loading">
    <span class="spinner"></span>
  </div>
  <plaid-worklog-editor
    [pixelsPerMinute]="pixelsPerMinute"
    [dateRange]="dateRange"
    [worklog]="editedWorklog"
    [gridElement]="hostElement.nativeElement"
    (cancelEdit)="editedWorklog = null"
    [visibleDaysStart]="visibleDaysStart"
    [visibleDaysEnd]="visibleDaysEnd"
    [keysDisabled]="keysDisabled"
  ></plaid-worklog-editor>
</div>
