<a class="button" (click)="decrementWeek()">
  <svg class="icon"><use href="assets/icons.svg#arrow-left"></use></svg>
</a>
<a class="button toggle-button" [class.active]="calendarOpen" (click)="calendarOpen = !calendarOpen">
  {{ buttonText }}
</a>
<a class="button" (click)="incrementWeek()">
  <svg class="icon"><use href="assets/icons.svg#arrow-right"></use></svg>
</a>
<div class="calendar" [class.open]="calendarOpen">
  <div class="month-changer">
    <a class="button" (click)="decrementMonth()">
      <svg class="icon"><use href="assets/icons.svg#arrow-left"></use></svg>
    </a>
    <div class="month-label">
      {{ months[month.getMonth()] }} {{ month.getFullYear() }}
    </div>
    <a class="button" (click)="incrementMonth()">
      <svg class="icon"><use href="assets/icons.svg#arrow-right"></use></svg>
    </a>
  </div>
  <div class="weekdays">
    <div class="weekday" *ngFor="let weekday of weekdays">
      {{ weekday }}
    </div>
  </div>
  <div
    class="week"
    *ngFor="let week of days"
    [class.selected]="_selectedDateRange.start.valueOf() === week[0].valueOf() && _selectedDateRange.end.valueOf() === week[6].valueOf()"
    (click)="selectDateRange({ start: week[0], end: week[6] })"
  >
    <div
      class="day"
      *ngFor="let day of week"
      [class.other-month]="day.getMonth() !== month.getMonth()"
      [class.today]="day.getTime() === today.getTime()"
    >
      {{ day.getDate() }}
    </div>
  </div>
</div>
