<a class="button both-color-schemes" (click)="decrementWeek()" [class.active]="decrementWeekButtonActive" title="Previous week (F4)">
  <svg class="icon"><use href="assets/icons.svg#arrow-left"></use></svg>
</a>
<a class="button both-color-schemes toggle-button" [class.active]="calendarOpen" (click)="calendarOpen = !calendarOpen" title="Select week">
  {{ buttonText }}
</a>
<a class="button both-color-schemes" (click)="incrementWeek()" [class.active]="incrementWeekButtonActive" title="Next week (F6)">
  <svg class="icon"><use href="assets/icons.svg#arrow-right"></use></svg>
</a>
<div class="calendar" [class.open]="calendarOpen">
  <div class="month-changer">
    <a class="button" (click)="decrementMonth()" title="Previous month">
      <svg class="icon"><use href="assets/icons.svg#arrow-left"></use></svg>
    </a>
    <div class="month-label">
      {{ months[month?.getMonth()] }} {{ month?.getFullYear() }}
    </div>
    <a class="button" (click)="incrementMonth()" title="Next month">
      <svg class="icon"><use href="assets/icons.svg#arrow-right"></use></svg>
    </a>
  </div>
  <div class="weekdays">
    <div class="weekday" *ngFor="let weekday of weekdays">
      {{ weekday }}
    </div>
  </div>
  <div
    class="week"
    *ngFor="let week of days"
    [class.selected]="selectedDateRange.start.valueOf() === week[this.visibleDaysStart].valueOf() && selectedDateRange.end.valueOf() === week[this.visibleDaysEnd].valueOf()"
    (click)="selectDateRange({ start: week[this.visibleDaysStart], end: week[this.visibleDaysEnd] })"
  >
    <div
      class="day"
      *ngFor="let day of week"
      [class.other-month]="day.getMonth() !== month.getMonth()"
      [class.today]="day.getTime() === today.getTime()"
    >
      {{ day.getDate() }}
    </div>
  </div>
</div>
