:host {
  display: flex;
}

.weekday-labels {
  flex: 0;
  min-width: 30px;
  max-width: 30px;
  border-right: var(--separator-60min);
  position: sticky;
  left: 0;
  z-index: 2;
  background: #fff;
}

* {
  --separator-5min: 1px dotted var(--color-gray-1);
  --separator-15min: 1px dashed var(--color-gray-2);
  --separator-60min: 1px solid var(--color-gray-3);
}

.weekday {
  flex: 1;
  border-right: var(--separator-60min);
  z-index: 0;
}

.horizontal-dividers {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
}

.weekday-label {
  position: absolute;
  left: 0;
  border-top: var(--separator-60min);
  width: 30px;
  text-align: center;
}

.weekday-tenmin {
  position: absolute;
  left: 0;
  width: 100%;

  &:nth-child(6n+1) {
    border-top: var(--separator-60min);
    border-bottom: var(--separator-5min);
  }

  &:nth-child(6n+2), &:nth-child(6n+5) {
    border-top: var(--separator-5min);
    border-bottom: var(--separator-15min);
  }

  &:nth-child(6n+3), &:nth-child(6n+6) {
    border-top: var(--separator-5min);
    border-bottom: var(--separator-5min);
  }

  &:nth-child(6n+4) {
    border-top: var(--separator-15min);
    border-bottom: var(--separator-5min);
  }
}

@media (prefers-color-scheme: dark) {
  * {
    --separator-5min: 1px dotted var(--color-gray-7);
    --separator-15min: 1px dashed var(--color-gray-6);
    --separator-60min: 1px solid var(--color-gray-5);
  }

  .weekday-labels {
    background: #000;
    color: #fff;
  }
}
