<div
  class="panel-outer"
  [class.too-low]="tooLow"
  [class.undersized]="undersized"
  [ngStyle]="{
    width: 'calc(' + panelWidth * 100 + '% + 1px)',
    height: panelHeight + 1 + 'px',
    top: panelOffsetTop + 'px',
    left: 'calc(' + panelOffsetLeft * 100 + '% - 1px)'
  }"
>
  <div
    #panelInner
    class="panel-inner"
    [ngStyle]="{
      maxHeight: panelHeight + 1 + 'px',
      backgroundColor: 'hsl(' + panelHue + ', ' + (darkMode ? 30 : 50 ) + '%, ' + (darkMode ? 15 : 95 ) + '%)',
      borderColor: 'hsl(' + panelHue + ', 50%, ' + (darkMode ? 40 : 60 ) + '%)'
    }"
  >
    <div class="panel-content">
      <a
        class="button edit-button"
        [plaidExtHref]="jiraURL + '/secure/UpdateWorklog!default.jspa?id=' + worklog.issueId + '&worklogId=' + worklog.id"
      >
        <svg class="icon"><use href="assets/icons.svg#edit"></use></svg>
      </a>
      <p
        class="parent-name"
        *ngIf="worklog.issue.fields.parent"
        [plaidExtHref]="jiraURL + '/browse/' + worklog.issue.fields.parent.key"
      >
        <svg class="icon-parent"><use href="assets/icons.svg#parent"></use></svg>
        <b>{{ worklog.issue.fields.parent.key }}</b>
        {{ worklog.issue.fields.parent.fields.summary }}
      </p>
      <p
        class="name"
        [plaidExtHref]="jiraURL + '/browse/' + worklog.issue.key"
      >
        <b>{{ worklog.issue.key }}</b>
        {{ worklog.issue.fields.summary }}
      </p>
      <p class="fields">
        <img
          *ngIf="worklog.issue.fields.issuetype"
          [src]="worklog.issue.fields.issuetype.iconUrl"
          [title]="worklog.issue.fields.issuetype.name"
          class="field-icon"
        >
        <img
          *ngIf="worklog.issue.fields.priority"
          [src]="worklog.issue.fields.priority.iconUrl"
          [title]="worklog.issue.fields.priority.name"
          class="field-icon"
        >
        {{ components }}
      </p>
      <p class="time">
        {{ timeRange }}
      </p>
      <pre class="comment">{{ worklog.comment?.trim() }}</pre>
    </div>
  </div>
</div>
