:host {
  display: flex;
  flex-flow: row;
  position: relative;
  pointer-events: none;
}

.calendar {
  text-align: center;
  position: absolute;
  opacity: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 5px 0 20px;
  top: -10px;
  transition: 0.25s opacity, 0.25s top, 0.25s bottom;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
  }

  &.open {
    opacity: 1;
    top: 10px;
    pointer-events: all;
  }

  &.flipped {
    top: unset;
    bottom: 20px;

    &::before {
      bottom: unset;
      top: 100%;
      border-bottom: none;
      border-top: 10px solid #fff;
    }

    &.open {
      bottom: 40px;
    }
  }
}

.month-changer {
  display: flex;
  align-items: center;
  padding: 0 5px;

  & > .month-label {
    flex: 7;
    font-size: 19px;
    line-height: 40px;
  }
}

.weekdays {
  display: flex;
  justify-content: center;
}

.weekday {
  flex: 1;
  font-size: 11px;
  font-weight: 600;
  color: var(--color-gray-3);
  line-height: 20px;
  max-width: 25px;
}

.week {
  display: flex;
  justify-content: center;
}

.day {
  flex: 1;
  color: inherit;
  line-height: 24px;
  max-width: 25px;
  padding-bottom: 1px;
  transition: 0.1s all;
  border-radius: 100%;

  &:not(.disabled) {
    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.1);
      color: var(--color-gray-6);
      transition: 0.025s all ease-out;
    }

    &:active {
      background: rgba(0, 0, 0, 0.2);
      color: var(--color-gray-7);
    }
  }

  &.selected {
    background: var(--color-primary-1);
    color: var(--color-primary-5);
  }

  &.today {
    border: 2px solid rgba(0, 0, 0, 0.05);
    line-height: 20px;
  }

  &.other-month {
    opacity: 0.3;
  }
}
