<a class="button both-color-schemes" (mousedown)="dropdownOpen = !dropdownOpen" [class.active]="dropdownOpen" title="Settings">
  <svg class="icon"><use href="assets/icons.svg#cog"></use></svg>
</a>
<div class="dropdown" [class.open]="dropdownOpen">
  <!-- Parent component can accommodate stuff inside the settings dropdown that would not fit outside of it. -->
  <ng-content></ng-content>

  <div class="field-set">
    <label>Working hours</label>
    <input
      class="input time-input"
      type="time"
      [tabIndex]="dropdownOpen ? 0 : -1"
      #workingHoursStart
      [max]="minutesToTimeString(workingHoursEndMinutes - 1)"
      [ngModel]="minutesToTimeString(workingHoursStartMinutes)"
      (ngModelChange)="setWorkingHoursStartMinutes(timeStringToMinutes(workingHoursStart.checkValidity() ? $event : null))"
      (blur)="workingHoursStart.value = minutesToTimeString(workingHoursStartMinutes)"
    />
    <label class="input-separator">to</label>
    <input
      class="input time-input"
      type="time"
      [tabIndex]="dropdownOpen ? 0 : -1"
      #workingHoursEnd
      [min]="minutesToTimeString(workingHoursStartMinutes + 1)"
      [ngModel]="minutesToTimeString(workingHoursEndMinutes)"
      (ngModelChange)="setWorkingHoursEndMinutes(timeStringToMinutes(workingHoursEnd.checkValidity() ? $event : null))"
      (blur)="workingHoursEnd.value = minutesToTimeString(workingHoursEndMinutes)"
    />
  </div>
  <div class="field-set">
    <label>Working days</label>
    <select
      class="input narrow-dropdown"
      [tabIndex]="dropdownOpen ? 0 : -1"
      [ngModel]="workingDaysStart?.toString()"
      (ngModelChange)="setWorkingDaysStart(+$event)"
    >
      <option *ngFor="let day of weekdays; index as i" [value]="i" [disabled]="i > workingDaysEnd">{{ day }}</option>
    </select>
    <label class="input-separator">to</label>
    <select
      class="input narrow-dropdown"
      [tabIndex]="dropdownOpen ? 0 : -1"
      [ngModel]="workingDaysEnd?.toString()"
      (ngModelChange)="setWorkingDaysEnd(+$event)"
    >
      <option *ngFor="let day of weekdays; index as i" [value]="i" [disabled]="i < workingDaysStart">{{ day }}</option>
    </select>
  </div>
  <div class="field-set">
    <label>Non-working days</label>
    <select
      class="input wide-dropdown"
      [tabIndex]="dropdownOpen ? 0 : -1"
      [ngModel]="hideWeekend ? 1 : 0"
      (ngModelChange)="setHideWeekend($event == 1)"
    >
      <option value="0">Gray out</option>
      <option value="1">Hide</option>
    </select>
  </div>
  <div class="field-set">
    <label>Periodic refreshing</label>
    <select
      class="input wide-dropdown"
      [tabIndex]="dropdownOpen ? 0 : -1"
      [ngModel]="refreshIntervalMinutes?.toString()"
      (ngModelChange)="setRefreshIntervalMinutes(+$event)"
    >
      <option value="0">Disabled</option>
      <option value="1">Every minute</option>
      <option value="2">Every 2 minutes</option>
      <option value="5">Every 5 minutes</option>
      <option value="10">Every 10 minutes</option>
      <option value="15">Every 15 minutes</option>
      <option value="30">Every 30 minutes</option>
    </select>
  </div>
  <div class="field-set">
    <label>Dark mode</label>
    <select
      class="input wide-dropdown"
      [tabIndex]="dropdownOpen ? 0 : -1"
      [ngModel]="theme"
      (ngModelChange)="setTheme($event)"
    >
      <option value="system">System default</option>
      <option value="dark">Enabled</option>
      <option value="light">Disabled</option>
    </select>
  </div>
</div>
