:host {
  position: relative;
}

.dropdown {
  position: absolute;
  opacity: 0;
  width: 340px;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px 10px 5px;
  top: 20px;
  right: -30px;
  transition: 0.25s opacity, 0.25s top;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 100%;
    right: 37px;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  &.open {
    opacity: 1;
    top: 40px;
  }

  &:not(.open) {
    pointer-events: none;
  }

  .headline {
    margin: 20px 0 10px;
    padding: 0 15px;
    font-weight: 600;
  }

  .button {
    display: block;
    border-radius: 0;
    margin: 0;
  }
}

.field-set {
  display: flex;

  :first-child {
    flex: 1;
  }

  .narrow-dropdown {
    width: 95px;
  }

  .wide-dropdown {
    width: 185px;
  }

  .input-separator {
    width: 25px;
    text-align: center;
  }

  .time-input {
    height: 30px;
    width: 95px;
    padding-left: 10px;
    padding-right: 0;
  }
}
