<div class="modal-background" [class.visible]="modalVisible !== ConnectionIssueModalVisible.NONE">
  <plaid-error-modal
    [open]="modalVisible === ConnectionIssueModalVisible.ERROR"
    [(error)]="error"
    (closeModal)="closeModal()"
  ></plaid-error-modal>

  <plaid-lost-connection-modal
    [open]="modalVisible === ConnectionIssueModalVisible.LOST_CONNECTION"
    [fetching]="fetching"
    (reconnect)="reconnect()"
    [startReconnectCountdown]="startReconnectCountdown.asObservable()"
  ></plaid-lost-connection-modal>

  <plaid-login-modal
    [open]="modalVisible === ConnectionIssueModalVisible.LOGIN"
    [fetching]="fetching"
    [authInfo]="authInfo"
    [error]="error"
    (login)="login()"
    (closeModal)="closeModal()"
  ></plaid-login-modal>
</div>
