<div class="modal-background" [class.visible]="modalVisible !== ConnectionIssueModalVisible.NONE">
  <div class="modal" [class.open]="modalVisible === ConnectionIssueModalVisible.ERROR">
    <div class="modal-header">
      Application error
    </div>
    <div class="modal-body">
      <p>{{ error ? error.message : null }}</p>
      <textarea [value]="applicationErrorBody" disabled></textarea>
    </div>
    <div class="modal-footer">
      <button class="button padded" (click)="error = null; closeModal()" [tabIndex]="modalVisible === ConnectionIssueModalVisible.ERROR ? 0 : -1">Close</button>
    </div>
  </div>

  <div class="modal" [class.open]="modalVisible === ConnectionIssueModalVisible.LOST_CONNECTION">
    <div class="modal-header">
      Connection error
    </div>
    <div class="modal-body">
      Could not connect to Jira. Verify your internet connection and retry.
    </div>
    <div class="modal-footer">
      <button class="button primary padded" (click)="reconnect()" [disabled]="fetching" [tabIndex]="modalVisible === ConnectionIssueModalVisible.LOST_CONNECTION ? 0 : -1">
        <span *ngIf="fetching" class="spinner"></span>
        <ng-container *ngIf="!fetching">Retry</ng-container>
      </button>
    </div>
  </div>

  <form #form="ngForm" class="modal" [class.open]="modalVisible === ConnectionIssueModalVisible.LOGIN">
    <div class="modal-header">
      Log in to Jira
    </div>
    <div class="modal-body">
      <p class="error" *ngIf="error">
        <ng-container *ngIf="error.status === 403">
          Jira denied authentication to this client. <u [plaidExtHref]="authInfo.jiraUrl + '/login.jsp'">Log in to Jira in your browser</u> to see the details. You will likely need to solve CAPTCHA. If you are stuck on CAPTCHA and can't log in, clear your browser cookies.
        </ng-container>
        <ng-container *ngIf="error.status === 401">
          An authentication error occurred. Verify your username and password.
        </ng-container>
        <ng-container *ngIf="error.status === 0">
          Could not connect to Jira. Verify the URL and your internet connection.
        </ng-container>
        <ng-container *ngIf="![0, 401, 403].includes(error.status)">
          {{ error.message }}
        </ng-container>
      </p>
      <label>Jira URL</label>
      <div class="input-wrapper">
        <input
          name="jiraUrl"
          type="url"
          [(ngModel)]="authInfo.jiraUrl"
          required
          (change)="onUrlChange()"
          [class.http-notice-visible]="httpNoticeVisible"
          [tabIndex]="modalVisible === ConnectionIssueModalVisible.LOGIN ? 0 : -1"
        >
        <svg class="icon-warning" [class.visible]="httpNoticeVisible"><use href="assets/icons.svg#warning"></use></svg>
        <div class="http-notice">By design Plaid does not require administrative actions on the server for the program to work. As a consequence it uses basic authentication, meaning your username and password will be sent to the server in HTTP Authorization header with every request. Therefore HTTPS is strongly recommended to keep your credentials secure.</div>
      </div>
      <label>Username <small>(for Jira Cloud use your email address instead)</small></label>
      <input
        name="username"
        type="text"
        [(ngModel)]="authInfo.username"
        required
        [tabIndex]="modalVisible === ConnectionIssueModalVisible.LOGIN ? 0 : -1"
      >
      <label>Password <small>(for Jira Cloud use an <u plaidExtHref="https://id.atlassian.com/manage/api-tokens">API token</u> instead)</small></label>
      <input
        name="password"
        type="password"
        [(ngModel)]="authInfo.password"
        required
        [tabIndex]="modalVisible === ConnectionIssueModalVisible.LOGIN ? 0 : -1"
      >
    </div>
    <div class="modal-footer">
      <button
        class="button primary padded"
        (click)="login()"
        [disabled]="form.invalid || fetching"
        [tabIndex]="modalVisible === ConnectionIssueModalVisible.LOGIN ? 0 : -1"
      >
        <span *ngIf="fetching" class="spinner"></span>
        <ng-container *ngIf="!fetching">Log in</ng-container>
      </button>
      <button
        class="button padded"
        (click)="closeModal()"
        [disabled]="fetching"
        [tabIndex]="modalVisible === ConnectionIssueModalVisible.LOGIN ? 0 : -1"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
