.error {
  color: var(--color-red);
}

.input-wrapper {
  position: relative;
}

input.http-notice-visible {
  padding-right: 30px;
}

.icon-warning {
  color: var(--color-orange);
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;

  &.visible {
     display: block;

  &:hover + .http-notice {
     opacity: 1;
     pointer-events: all;
   }
  }
}

.http-notice {
  position: absolute;
  max-width: 360px;
  font-size: 12px;
  color: #fff;
  background: var(--color-orange);
  padding: 8px 10px;
  border-radius: 15px;
  opacity: 0;
  transition: 0.1s opacity;
  pointer-events: none;

  &::before {
     content: " ";
     display: block;
     position: absolute;
     bottom: 100%;
     right: 15px;
     border-bottom: 8px solid var(--color-orange);
     border-left: 16px solid transparent;
   }
}
