<div class="top-bar">
  <plaid-date-range-picker
    #dateRangePicker
    [visibleDaysStart]="visibleDaysStart"
    [visibleDaysEnd]="visibleDaysEnd"
    [selectedDateRange]="visibleDateRange"
    (selectedDateRangeChange)="setVisibleDateRange($event)"
    [shortcutsDisabled]="connectionIssueModalVisible"
  ></plaid-date-range-picker>
  <plaid-refresh-button
    (refresh)="refresh()"
    [disabled]="!currentUser"
    [shortcutsDisabled]="connectionIssueModalVisible"
  ></plaid-refresh-button>
  <plaid-add-button
    [disabled]="!currentUser || !!grid.editedWorklog"
    [gridComponent]="grid"
  ></plaid-add-button>
  <plaid-zoom-controls
    class="outside-settings"
    (pixelsPerMinuteChange)="pixelsPerMinute = $event"
    [(pixelsPerMinuteExponent)]="pixelsPerMinuteExponent"
    [shortcutsDisabled]="connectionIssueModalVisible"
  ></plaid-zoom-controls>
  <plaid-settings
    #settings
    [workingHoursStartMinutes]="workingHoursStartMinutes"
    (workingHoursStartMinutesChange)="setWorkingHoursStartMinutes($event)"
    [workingHoursEndMinutes]="workingHoursEndMinutes"
    (workingHoursEndMinutesChange)="setWorkingHoursEndMinutes($event)"
    [workingDaysStart]="workingDaysStart"
    (workingDaysStartChange)="setWorkingDaysStart($event)"
    [workingDaysEnd]="workingDaysEnd"
    (workingDaysEndChange)="setWorkingDaysEnd($event)"
    [hideWeekend]="hideWeekend"
    (hideWeekendChange)="setHideWeekend($event)"
    [refreshIntervalMinutes]="refreshIntervalMinutes"
    (refreshIntervalMinutesChange)="setRefreshIntervalMinutes($event)"
    [theme]="theme"
    (themeChange)="setTheme($event)"
  >
    <plaid-zoom-controls
      class="inside-settings"
      [allowBothColorSchemes]="false"
      (pixelsPerMinuteChange)="pixelsPerMinute = $event"
      [(pixelsPerMinuteExponent)]="pixelsPerMinuteExponent"
      [shortcutsDisabled]="true"
    ></plaid-zoom-controls>
  </plaid-settings>
  <plaid-auth-status
    #authStatus
    [user]="currentUser"
    (changeCredentials)="changeCredentials()"
    (forgetAccount)="forgetAccount()"
  ></plaid-auth-status>
</div>
<plaid-grid
  #grid
  [pixelsPerMinute]="pixelsPerMinute"
  [worklogs]="worklogs"
  [dateRange]="visibleDateRange"
  [loading]="loading"
  [authenticatedUser]="currentUser"
  [workingHoursStartMinutes]="workingHoursStartMinutes"
  [workingHoursEndMinutes]="workingHoursEndMinutes"
  [workingDaysStart]="workingDaysStart"
  [workingDaysEnd]="workingDaysEnd"
  [hideWeekend]="hideWeekend"
  [escapeKeyDisabled]="dateRangePicker.calendarOpen || settings.dropdownOpen || authStatus.dropdownOpen"
  [allKeysDisabled]="connectionIssueModalVisible"
></plaid-grid>
<plaid-connection-issue-resolver></plaid-connection-issue-resolver>
