<plaid-connection-issue-resolver
  [changeCredentials]="changeCredentials"
  (modalVisible)="connectionIssueResolverModalVisible = $event"
></plaid-connection-issue-resolver>
<div class="top-bar">
  <plaid-date-range-picker
    (selectedDateRange)="selectedDateRange = $event"
  ></plaid-date-range-picker>
  <plaid-refresh-button
    (refresh)="refresh()"
    [disabled]="!currentUser"
    [shortcutsDisabled]="connectionIssueResolverModalVisible"
  ></plaid-refresh-button>
  <plaid-zoom-controls
    [(pixelsPerMinute)]="pixelsPerMinute"
    [shortcutsDisabled]="connectionIssueResolverModalVisible"
  ></plaid-zoom-controls>
  <plaid-auth-status
    [user]="currentUser"
    (changeCredentials)="changeCredentials.emit()"
    (forgetAccount)="forgetAccount()"
  ></plaid-auth-status>
</div>
<plaid-planner
  [pixelsPerMinute]="pixelsPerMinute"
  [worklogs]="worklogs"
  [dateRange]="selectedDateRange"
  [loading]="loading"
></plaid-planner>
