<div class="wrapper" [class.visible]="worklog" (mousedown)="cancelEdit.emit()">
  <div
    class="panel-wrapper"
    [style.left.%]="panelOffsetLeft * 100"
    [style.top.px]="panelOffsetTop"
    [style.width.%]="panelWidth * 100"
    [style.height.px]="panelHeight"
    [class.visible]="editedPanelInRange"
  >
    <div
      class="panel"
      [style.border-color]="'hsl(' + panelHue + ', 50%, 50%)'"
      (mousedown)="dragStart($event); $event.stopPropagation()"
    >

      <div class="handle-top" [style.border-color]="'hsl(' + panelHue + ', 50%, 50%)'"></div>
      <div class="handle-bottom" [style.border-color]="'hsl(' + panelHue + ', 50%, 50%)'"></div>
    </div>
  </div>
</div>
