.wrapper {
  z-index: 1;
  position: absolute;
  top: 25px;
  left: 30px;
  bottom: 25px;
  right: 0;
  pointer-events: none;
  background: rgba(50,50,50,0.3);
  opacity: 0;
  transition: 0.1s opacity;
  overflow: hidden;

  &.visible {
    pointer-events: all;
    opacity: 1;

    &.dragging, &.stretching {
      * {
        pointer-events: none;
      }

      .start-time, .end-time {
        opacity: 1;
      }
    }

    &.dragging {
      cursor: move;
    }

    &.stretching {
      cursor: row-resize;
    }

    &:not(.dragging):not(.stretching) .tangible {
      pointer-events: all;
    }
  }
}

.panel-wrapper {
  position: absolute;
  display: none;

  &.visible {
    display: block;
  }

  .buttons-area {
    padding-bottom: 8px;
    background: linear-gradient(to top, #fff, transparent);
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 13px;
    right: 14px;
    pointer-events: none;

    .button {
      padding: 0 10px;
    }
  }

  &.buttons-outside-container {
    .buttons-area {
      bottom: -46px;
      background: none;
    }

    .panel .space-under {
      margin-bottom: 10px;
    }

    &.tight-under .buttons-area {
      bottom: 100%;
    }
  }
}

.panel {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: -1px;
  left: 4px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  cursor: move;
  padding: 0 10px;
  overflow-y: hidden;

  * {
    pointer-events: none;
  }

  &:hover {
    overflow-y: overlay;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
  }

  .space-under {
    margin-bottom: 48px;
  }
}

.handle-top, .handle-bottom {
  background: #fff;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  left: calc(50% - 20px);
  height: 9px;
  width: 40px;
  cursor: row-resize;

  &::before {
    content: ' ';
    display: block;
    height: 1px;
    margin-top: 1px;
    border-top: 1px solid var(--color-gray-2);
    border-bottom: 1px solid var(--color-gray-2);
  }

  &::after {
    content: ' ';
    display: block;
    margin-top: 1px;
    border-top: 1px solid var(--color-gray-2);
  }
}

.handle-top {
  top: -5px;
}

.handle-bottom {
  bottom: -5px;
}

.start-time, .end-time {
  position: absolute;
  right: calc(50% + 25px);
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  line-height: 1;
  pointer-events: none;
  opacity: 0;
  transition: 0.1s opacity;
}

.start-time {
  top: -9px;
}

.end-time {
  bottom: -7px;
}

#return-button {
  position: fixed;
  top: calc(50% - 15px);
  left: calc(50% - 100px);
  width: 200px;
  display: none;

  &.visible {
    display: block;
  }
}

#save-button {
  min-width: 4em;
}

#date-input {
  text-align: left;
  cursor: default;
}

plaid-date-picker-cloud {
  max-width: 179px;
  left: calc(50% - 90px);
}
