<div
  class="wrapper"
  [class.visible]="worklog"
  (mousedown)="handleClickOutsideEditor($event)"
  [class.dragging]="dragging"
  [class.stretching]="stretching"
>
  <div
    class="panel-wrapper"
    [style.left.%]="panelOffsetLeft * 100"
    [style.top.px]="panelOffsetTop"
    [style.width.%]="panelWidth * 100"
    [style.height.px]="panelHeight"
    [class.visible]="editedPanelInRange"
    [class.buttons-outside-container]="panelHeight < 100"
    [class.tight-under]="spaceUnderPanel < 40"
    title="Hold:
Alt to snap to 1 minute,
nothing to snap to 5 minutes,
Shift to snap to 15 minutes,
Ctrl to snap to 60 minutes."
  >
    <div
      #panel
      class="panel"
      [style.border-color]="'hsl(' + panelHue + ', 50%, 50%)'"
      (mousedown)="dragStart($event); $event.stopPropagation()"
    >
      <label>Issue</label>
      <input
        disabled
        [value]="issueString"
        title=""
        class="tangible"
      >
      <label>Date</label>
      <input
        disabled
        [value]="dateString"
        title=""
        class="tangible"
      >
      <label>Comment</label>
      <textarea
        [value]="commentString"
        title=""
        class="tangible space-under"
      ></textarea>
    </div>

    <div class="buttons-area">
      <button
        class="button primary tangible"
        [disabled]="saving"
        title=""
        (mousedown)="$event.stopPropagation()"
      >
        <span *ngIf="saving" class="spinner"></span>
        <ng-container *ngIf="!saving">Save</ng-container>
      </button>
      <button
        class="button tangible"
        [class.non-translucent]="panelHeight < 100"
        (click)="cancelEdit.emit()"
        [disabled]="saving"
        title=""
        (mousedown)="$event.stopPropagation()"
      >
        Cancel
      </button>
    </div>

    <div
      class="handle-top"
      [style.border-color]="'hsl(' + panelHue + ', 50%, 50%)'"
      (mousedown)="stretchTopStart($event); $event.stopPropagation()"
    ></div>
    <div
      class="handle-bottom"
      [style.border-color]="'hsl(' + panelHue + ', 50%, 50%)'"
      (mousedown)="stretchBottomStart($event); $event.stopPropagation()"
    ></div>
  </div>
</div>
