.wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: transparent;
  transition: 0.1s background-color;

  &.visible {
    pointer-events: all;
    background: rgba(50,50,50,0.2);
  }
}
