* {
  box-sizing: border-box;
  user-select: none;
  font-family: var(--font-text);

  --color-gray-0: #f9f9f9;
  --color-gray-1: #ebebeb;
  --color-gray-2: #cfcfcf;
  --color-gray-3: #adadad;
  --color-gray-4: #727272;
  --color-gray-5: #424242;
  --color-gray-6: #2c2c2c;
  --color-gray-7: #1d1d1d;

  --color-primary-0: #ebfaff;
  --color-primary-1: #c8f1ff;
  --color-primary-2: #87defb;
  --color-primary-3: #38c7f7;
  --color-primary-4: #0eb1e7;
  --color-primary-5: #049bde;

  --color-red: #c20;
  --color-orange: #e90;

  --font-display: Comfortaa, sans-serif;
  --font-text: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
  color: var(--color-gray-7);
}

/* Icons */

.icon {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
}

.icon-user {
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
}

.icon-parent {
  width: 6px;
  height: 6px;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.1em solid;
  color: inherit;
  border-radius: 100%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  animation-name: spinner-spin;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  position: relative;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Buttons */

.button {
  line-height: 30px;
  min-width: 30px;
  color: var(--color-gray-5);
  text-align: center;
  margin: 0 2px;
  border-radius: 15px;
  transition: 0.1s all;
  background: transparent;
  border: none;
  font-size: 16px;
  outline: none;
  display: inline-block;

  &.padded {
    padding: 0 15px;
  }

  &.disabled, &[disabled] {
    color: var(--color-gray-2);
  }

  &:not(.disabled):not([disabled]) {
    &:hover {
      background: rgba(0, 0, 0, 0.1);
      color: var(--color-gray-6);
    }

    &:focus:not(:hover):not(:active) {
      box-shadow: 0 0 0 2px var(--color-primary-1) inset;
    }

    &:active, &.active {
      background: rgba(0, 0, 0, 0.2);
      color: var(--color-gray-7);
      transition: 0.025s all ease-out;
    }

    &.primary {
      background: var(--color-primary-5);
      color: #fff;

      &:hover {
        background: var(--color-primary-4);
      }

      &:focus:not(:hover):not(:active) {
        box-shadow: 0 0 0 2px var(--color-primary-5) inset;
        background: var(--color-primary-4);
      }

      &:active, &.active {
        background: var(--color-primary-3);
      }
    }

    &.non-translucent {
      background: #fff;

      &:hover {
        background: var(--color-gray-1);
      }

      &:active, &.active {
        background: var(--color-gray-2);
      }
    }
  }

  .spinner {
    margin-bottom: -2px;
  }
}

// Inputs

label {
  display: block;
  padding: 5px 0;
}

input, .input, textarea {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
  font-weight: 500;
  line-height: 30px;
  padding: 0 15px;
  font-size: 13px;
  margin: 0 0 5px;
  transition: 0.1s all;
  outline: none;
  resize: none;

  &:not([disabled]) {
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--color-primary-1);
      background: #fff;
    }
  }
}

textarea {
  line-height: 16px;
  height: 62px;
  padding: 7px 15px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
  }
}
