* {
  box-sizing: border-box;
  user-select: none;
  font-family: var(--font-text);

  --color-gray-0: #f9fbfd;
  --color-gray-1: #ebf2f8;
  --color-gray-2: #cfd5dc;
  --color-gray-3: #a6acb3;
  --color-gray-4: #72787e;
  --color-gray-5: #42474d;
  --color-gray-6: #2c3136;
  --color-gray-7: #21262b;

  --color-primary-0: #ebfaff;
  --color-primary-1: #c8f1ff;
  --color-primary-2: #87defb;
  --color-primary-3: #38c7f7;
  --color-primary-4: #0eb1e7;
  --color-primary-5: #049bde;

  --color-red: #c20;

  --font-display: Comfortaa;
  --font-text: "Source Sans Pro";
}

body {
  margin: 0;
  font-size: 16px;
  color: var(--color-gray-7);
}

/* Icons */

.icon {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
}

.icon-user {
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
}

.icon-parent {
  width: 6px;
  height: 6px;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.1em solid;
  color: inherit;
  border-radius: 100%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  animation-name: spinner-spin;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  position: relative;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Buttons */

.button {
  line-height: 30px;
  min-width: 30px;
  color: var(--color-gray-5);
  text-align: center;
  margin: 0 2px;
  border-radius: 15px;
  transition: 0.25s all;
  background: #fff;
  border: none;
  font-size: 16px;
  outline: none;
  display: inline-block;
  //padding: 0;

  &.disabled, &[disabled] {
    color: var(--color-gray-2);
  }

  &:not(.disabled):not([disabled]) {
    &:hover {
      background: var(--color-gray-1);
      color: var(--color-gray-6);
    }

    &:focus:not(:hover):not(:active) {
      box-shadow: 0 0 0 2px var(--color-primary-1) inset;
    }

    &:active,
    &.active {
      background: var(--color-gray-2);
      color: var(--color-gray-7);
      transition: 0.05s all ease-out;
    }

    &.primary {
      background: var(--color-primary-5);
      color: #fff;

      &:hover {
        background: var(--color-primary-4);
      }

      &:focus:not(:hover):not(:active) {
        box-shadow: 0 0 0 2px var(--color-primary-5) inset;
        background: var(--color-primary-4);
      }

      &:active,
      &.active {
        background: var(--color-primary-3);
      }
    }
  }
}

// Inputs

label {
  display: block;
  padding: 5px 0;
}

input {
  display: block;
  width: 100%;
  background: var(--color-gray-0);
  border-radius: 15px;
  border: none;
  font-weight: 500;
  line-height: 30px;
  padding: 0 15px;
  font-size: 13px;
  margin: 0 0 5px;
  transition: 0.25s all;
  outline: none;
}

input:hover {
  background: var(--color-gray-1);
}

input:focus {
  box-shadow: 0 0 0 2px var(--color-primary-1);
  background: #fff;
}

button {
  padding: 0 15px;
}
